@page "/movies"
@using LMDB.Data.Movie
@inject MovieService MoviesService

<h1>Movies</h1>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="movies-grid">
        @foreach (var movie in movies)
        {
            <LMDB.Shared.Components.MovieCard Movie="@movie"/>
        }
    </div>
}

@code {
    private Movie[]? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await MoviesService.GetMovieAsync();
    }
}
