.movie-card[b-lk2x9kr3nh] {
  background: rgb(31, 31, 31);
  border-radius: 0.25rem;
  overflow: hidden;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.movie-card__image[b-lk2x9kr3nh] {
  object-fit: cover;
  width: 100%;
}

.movie-card__content[b-lk2x9kr3nh] {
  padding: 1rem;
}

.movie-card__title[b-lk2x9kr3nh] {
  font-size: 1rem;
  font-weight: 700;
}

a[b-lk2x9kr3nh] {
  text-decoration: none;
  color: currentColor;
}

a:hover[b-lk2x9kr3nh] {
  color: var(--color-primary);
}
