@using LMDB.Data.Movie

<a href="" class="movie-card">
  <img class="movie-card__image" src="" alt="">
  <div class="movie-card__content">
    <h3 class="movie-card__title">@movie.Title</h3>
    <p class="movie-card__description">@movie.Description</p>
  </div>
</a>

@code {
  [Parameter]
  public Movie movie { get; set; } // TODO: Should it be Movies? movie
}